@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Inter,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: #111318;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
